* {
	padding: 0;
	margin: 0;
	border: 0;
	font-family: serif;
}

a {
	text-decoration: none;
	color: inherit;
}

ul li {
	font-size: 1.2rem;
	font-family: Tahoma, sans-serif;
	line-height: 1.3rem;
	padding: 5px;
	list-style: none;
}

h1,
h2 {
	letter-spacing: 0.05rem;
	padding: 3px;
	text-transform: uppercase;
	font-family: 'Verdana';
	font-size: 1.4rem;
	color: #39344ff6;
}

main.education h2 {
	border-bottom: 1px solid rgba(180, 177, 177, 0.847);
}

h3 {
	text-align: center;
}

em {
	font-size: 14px;
	color: rgba(125, 141, 151, 0.64);
	font-family: 'Arial Narrow Bold', sans-serif;
}

p {
	font-size: 1.2rem;
	font-family: Tahoma, sans-serif;
	line-height: 1.3rem;
	padding: 5px;
}



body {
	color: #22252bc8;
	display: flex;
	justify-content: center;
	background-color: rgba(240, 230, 217, 0.386);
	max-height: 100vh;
	min-width: 940px;
}


.wrapper {
	display: flex;
	flex-direction: column;
	width: 860px;
	background-color: rgba(207, 212, 217, 0.686);
	padding: 5px;
	margin: 10px;
	border-radius: 20px;
	box-shadow: 5px 5px 20px 15px rgb(187, 190, 194);
}


.header {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-items: center;
	height: 300px;
	padding: 5px;

}

.cvOwnerInfo {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.cvPhoto {
	height: 300px;
	width: 300px;
	border-radius: 50%;
}

.nameTxtBlock h1{
	color: rgba(0, 0, 0, 0.754);
	display: flex;
	flex-direction: column;
}

.header article {
	width: 500px;
	margin-right: 5px;
	padding: 15px;
}

main.education {
	height: 363px;
	display: flex;
	padding: 25px 0;
	margin: 5px;
	flex-direction: column;
}

.footer {
	padding: 10px 5px;
	display: flex;
	justify-content: space-between;
}

footer img {
	height: 50px;
	width: auto;
}

.footer .links {
	display: flex;
	flex-direction: column-reverse;
	justify-content: end;
}

.links h2 {
	text-align: center;
	color: #000;
}